[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Cluster"]
	path = Cluster
	url = https://github.com/efremidze/Cluster
[submodule "AlamofireImage"]
	path = AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
